<!DOCTYPE html>
<html>
<head>
  <title>AirAlien</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="jquery.raty.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>
<%= render 'shared/navbar' %>





<div class="container">
<%= yield %>
</div>

</body>
</html>
